/*common*/
body{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; /*위문장 아래문장과 1.4간격을둔다*/
    font-family: 'Nanum Gothic', sans-serif;
    
}
img{
    display: block; /*설정전에는 이미지는 인라인요소 여서 이미지밑에 공간이남음*/
}
a{
    text-decoration: none;
}
.inner{
    width: 1100px;
    margin: 0 auto;/*위아래 값은 없고 좌우는 브라우저가 자동으로*/
    position: relative;
}

.btn{
    width: 130px;
    padding: 10px;/*내부여백에 해당하는 여백*/
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;/*padding이나 다른요소가 들어가도 요소가 커지지 않도록 */
    display: block;
    transition: .4s;
}
.btn:hover{
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse{
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover{
    background-color: transparent;/*배걍색이 투명해지도록*/
    color: #333;
}
.btn.btn--brown{
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover{
    background-color: #592B18;
    color: #fff;
}
.btn.btn--gold{
    color: #D9AA8A;
    border-color: #D9AA8A;
}
.btn.btn--gold:hover{
    background-color: #D9AA8A;
    color: #fff;
}
.btn.btn--white{
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover{
    background-color: #fff;
    color: #333;
}

/*스크롤을 내리거나 올릴때 이러한 선택자를 지정하여 요소들이 왼쪽에서 혹은 오른쪽에서 올수있게 설정한다*/
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right{/*일치 선택자*/
    transform: translateX(-150px);/*변환효과 x축으로 -150px이동*/
}
.back-to-position.to-left{/*일치 선택자*/
    transform: translateX(150px);/*변환효과 x축으로 150px만큼 이동 */
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-0{
    transition-delay: 0s;
}
.show .back-to-position.delay-1{
    transition-delay: .3s;
}
.show .back-to-position.delay-2{
    transition-delay: .6s;
}
.show .back-to-position.delay-3{
    transition-delay: .9s;
}


/* header */
header{
    width: 100%;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    /*position: relative;  fixed값이 와서 삭제해두된다*/
    position: fixed;/*뷰포트를 기준으로 배치하겠다*/
    top: 0;
    z-index: 9;
}
header > .inner{
    height: 120px;
    /*width: 1100px;        >는 자식요소
      margin: 0 auto;    /*외부여백 위,아래0 좌,우 자동
    position: relative;*/
}
header .logo{
    height: 75px;
    position: absolute; /*부모요소기준으로 배치한다*/
    top: 0; /*가운데 배치 조건 position-absolute top 0 bottom 0 margin auto +요소 높이값*/
    bottom: 0;
    left: 0;
    margin: auto;

}
header .sub-menu{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu{
    font-family: Arial,sans-serif;
    display: flex;/*수직으로 정렬되있던 요소들이 수평으로 정렬된다*/

}
header .sub-menu ul.menu li{
    position: relative;

}
header .sub-menu ul.menu li::before{
    content: "";/*before 인라인요소 li앞에 추가할 요소*/
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;/*block요소로 변한다*/
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child:before{
    display: none;
}
header .sub-menu ul.menu li a{
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
    
}
header .sub-menu ul.menu li a:hover{/*마우스를 올리면 :hover*/
    color: #000;
}
header .sub-menu .search{
    height: 34px;
    position: relative;
}
header .sub-menu .search input{
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #777;
    font-size: 12px;
    transition: width .4s;/*전환효과 0.4초동안 자연스럽게*/
}
header .sub-menu .search input:focus{
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-icons{ 
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;/*변환을 자연스럽게*/
}
/*focused속성은 js에서 만들었다*/
header .sub-menu .search.focused .material-icons{ 
    opacity: 0; /*아이콘모양을 안보이게하겠다*/

}
header .main-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;/*쌓임순서 가장 앞으로온다*/
    display: flex;/*수평정렬*/
}

header .main-menu .item{

}
header .main-menu .item .item__name{
    padding: 10px 20px 34px 20px; /*내부여백을*/
    font-family: Arial, sans-serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name{
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;/*좌상단 우상단만 깍여있다.*/
}
header .main-menu .item .item__contents{
    width: 100%;
    position: fixed;/*뷰포트를 기준으로 배치하겠다*/
    left: 0;
    display: none;/*평상시에는 보이지않게*/
}
header .main-menu .item:hover .item__contents{/*아이ㅣ템에 마우스를 올리면 */
    display: block;
}
header .main-menu .item .item__contents .contents__menu{
    background-color: #2c2a29;
    /*height: 200px; 컨텐츠를 다 넣어서 높이값은 따로 필요없다
*/}
header .main-menu .item .item__contents .contents__menu > ul{
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;/*마우스를 가져다대면 손가락모양으로 바뀐다*/
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
    color: #669900;

}

header .main-menu .item .item__contents .contents__texture{
    padding: 26px 0;
    background-image: url("../images/main_menu_pattern.jpg");
    font-size: 12px;
}
header .main-menu .item .item__contents .contents__texture h4{
    color: #999;
    font-weight: 700;
    font-size: 12px;
}
header .main-menu .item .item__contents .contents__texture p{
    color: #669900;
    margin: 4px 0 14px;/*상 중(좌,우) 하*/

}


header .badges{
    position: absolute;/*부모요소를 기준으로 배치한다*/
    top: 132px;
    right: 12px;
}
header .badges .badge{
    border-radius: 10px;
    overflow: hidden;/*둥글게 깍이지만 이미지가 넘치지않게*/
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0,0.15);/*그림자를 나타내는데x축 4 y축4 */
    cursor: pointer;
}
/*FOOTER*/

footer{
    background-color: #272727;
    border-top: 1px solid #333;/*위에만 태두리를 그어서 awards와의 경계선을 만든다*/
}
footer .inner{
    padding: 40px 0 60px 0;
}
footer .menu{
    display: flex;
    justify-content: center;
}
footer .menu li{
    position: relative;
}
footer .menu li::before{/*before라는 가상요소는 인라인값이다*/
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;/*position값이 absolute와 fixed이면 요소가 블록요소로 바뀐다*/
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child:before{/*before라는 가상요소는 인라인값이다*/
    display: none;
}
footer .menu li a{
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;/*인라인값은 마진과 패딩의 여백부분에 위아래 값을 부여할수없다.*/
    display: block;/*사용자가 a태그를 누를수있는 범위를 늘려주기 위함*/

}
footer .menu li a.green{
    color: #669900;
}

footer .btn-group{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn{
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child{
    margin-right: 0;
}
footer .info{
    margin-top: 30px;
    text-align: center;/*문자 가운데 정렬*/
}
footer .info span{/*span태그는 인라인요소이고 수직으로 쌓이는 기준이 아니라 수평으로 쌓이는 기준을 가진다.*/
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child{/*span태그는 인라인요소이고 수직으로 쌓이는 기준이 아니라 수평으로 쌓이는 기준을 가진다.*/
    margin-top: 0;
}
footer .copyright{
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}
footer .logo{
    margin: 30px auto 0;/*가로 정렬을 하려면 가로 길이값이 있어야하지만 .logo는 이미지이기에 없어도 된다*/
}